@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;400;500;700 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    familia tipográfica: 'Roboto', sans-serif;
}

.header{
    height: 80px; 
    width: 100%;
    padding: 0px 50px;
    box-shadow: (149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: white
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 100px;  
}

.navbar-link {
    text-decoration: none;
    color: blue
    font-weight: 300;
}

.header img {
    height: 80%;
}





