@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;400;500;700 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    familia tipográfica: 'Roboto', sans-serif;
}

:root { 
    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;

}


header {
    background: yellow;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
}

.logo {
    height: 50px;
}

.nabvar,
.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;

}

.nabvar{
    gap: 150px;
}

.navbar-list{
    gap: 50px;
}

.navbar-list{
    color: green;
    font-size: 14px;
}

main {
    background: #e9eeff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #050d26;
}

#hero {
    display: flex;
    padding: 70px 0;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1{
    font-size: 45px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
}

.hero-info p {
    font-size: 14px;
    width: 70%;
}

.hero-card {
    border-radius: 20px;
    gap: 14px;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-info a {
    color: var(--bg-electric);
    background-color: #1e50ff;
    width: 120px;
    padding: 8px 0;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

#info {
    display: flex;
    padding: 70px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.info-parrafo h2 {
    font-size: 30px;
    font-weight: 800;
}

.info-parrafo p {
    font-size: 15px;
    padding: 40px 20px;
    
}

    
    
    
    
    
    

}


